* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: #1f1f3d;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  height: 60px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

aside {
  width: 100vw;
  background-color: #587a8a;
  height: auto;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

aside * {
  width: calc(100% - 20px);
  color: #fff;
  margin-top: 10px;
  text-transform: capitalize;
  line-height: 36px;
  font-size: 16px;
}

aside input {
  margin-top: 0;
  border: 2px solid #1f1f3d;
  border-radius: 2px;
  color: black;
  padding-left: 5px;
  text-transform: none;
}

aside .new-list-task input {
  flex-grow: 1;
}

aside section:not(.new-list-task) {
  border-top: 2px solid #486a7a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside button {
  background: #1f1f3d;
  border: none;
}

aside button.add-task {
  width: 15%;
  font-size: 48px;
  margin-top: 0;
}

.yellow-text {
  color: #ffc30c;
}

.form * {
  outline: none;
}

.form div {
}

.form div * {
  text-transform: none;
  line-height: normal;
}

.form img {
  width: 20px;
  float: left;
  margin: 12px 15px 0 0;
}

.new-list-task {
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.lists {
  background: #f3f6f7;
  width: 100%;
  height: auto;
  columns: 250px;
  padding: 20px;
  overflow: scroll;
}

.list {
  display: inline-block;
  background-color: #f9fdff;
  width: 100%;
  margin: 4px;
  border: 1px solid #c7d3d8;
}

.list>* {
  padding: 5px;
  border: 1px solid #c7d3d8;
}

.list img {
  width: 20px;
}

.list-items img {
  float: left;
  padding: 3px 0 0 3px;
  margin-right: 10px;
}

.list-individual-item {
  margin: 15px 0;
}

.list-individual-item * {
  pointer-events: none;
}

/* .list-individual-item:hover img {
  content: url(assets/checkbox-active.svg);
} */

.list-individual-item.checked {
  color: #3C6577;
  font-style: italic;
}

.list-individual-item.checked img {
  content: url(assets/checkbox-active.svg);
}

.list-actions {
  content: "";
  clear: both;
  overflow: auto;
  text-transform: uppercase;
  font-size: 10px;
}

.list-actions>* {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  cursor: pointer;
}

.list-actions>*>* {
  pointer-events: none;
}

.list-action-urgent {
  float: left;
}

.list-action-delete {
  float: right;
}

.list-action-delete:hover img {
  content: url(assets/delete-active.svg);
}

.list-urgent {
  background: #ffe89d;
  border-color: #ffc30c;
}

.list-urgent * {
  border-color: #ffc30c;
}

.list-urgent .list-action-urgent {
  color: #b23a25;
}

.list-urgent .list-action-urgent img {
  content: url("assets/urgent-active.svg")
}

@media all and (min-width: 600px) {
  main {
    min-height: calc(100vh - 60px);
    flex-direction: row;
  }
  aside {
    width: 300px;
    min-height: 100%;
    flex: 1 0 300px;
  }
  .lists {
    flex: 2 0 calc(100% - 300px);
    /* height: calc(100vh - 60px); */
  }
}